@page
@model Pokedex.Models.PokedexList
@{
}
    ViewData["Title"] = "Pokedex";

<h1>Pokédex</h1>
<div class="text-center">
    <h1 class="display-4">Pokédex</h1>
</div>
<table class="table">
    ... use a table to display the page model.
</table>
